/* Mengatur hyperlink */
a {
  text-decoration: none;
  color: #fff;
}

/* Button Kembali */
.back-btn {
  height: 40px;
  color: #fff;
  background: crimson;
  padding: 5px 30px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  transition: background 0.4s ease, border 0.4s ease;
  cursor: pointer;
  display: block; 
  width: fit-content;
}

.back-btn:hover {
  background: none;
  border: 2px solid crimson;
}

.back-btn a {
  color: #fff; 
  font-size: 16px; 
}

/* Styling untuk Halaman Detail Produk */
#product-detail {
  margin: 50px auto;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  padding: 45px;
  text-align: justify;
  width: 90%; 
  max-width: 1200px; 
}

/* Gambar di Detail Produk */
#product-detail img {
  margin: 20px 0;
  padding: 10px;
  width: 100%; 
  max-width: 600px; 
  max-height: 400px; 
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


/* Judul di Halaman Detail Produk */
h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #f5f5dc;
  margin-bottom: 20px;
}

/* Untuk Mobile Responsiveness */
@media (max-width: 768px) {
  #product-detail {
    margin: 20px;
    padding: 30px;
    width: 100%; 
  }

  .back-btn {
    margin: 20px auto;
    padding: 10px 25px;
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }

  #product-detail img {
    max-height: 300px; 
  }
}
